<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nav</key>
	<dict>
		<key>root</key>
		<dict>
			<key>bg-color</key>
			<string>navBg</string>
			<key>title-color</key>
			<string>navTextColor</string>
			<key>title-font</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>back-image</key>
			<string>nav/back.png</string>
			<key>back-title</key>
			<string>返回</string>
			<key>back-color</key>
			<string>navTextColor</string>
			<key>back-font</key>
			<string>16</string>
			<key>close-image</key>
			<string>nav/close.png</string>
			<key>close-title</key>
			<string>关闭</string>
			<key>close-color</key>
			<string>navTextColor</string>
			<key>close-font</key>
			<string>16</string>
			<key>page-bg-color</key>
			<string>pageBg</string>
			<key>page-bg-image</key>
			<string></string>
		</dict>
	</dict>
	<key>tab-bar</key>
	<dict>
		<key>root</key>
		<dict>
			<key>bg-image</key>
			<string></string>
			<key>select-image</key>
			<array>
				<string>tab/msg_s.png</string>
				<string>tab/home_s.png</string>
				<string>tab/my_s.png</string>
			</array>
			<key>unselect-image</key>
			<array>
				<string>tab/msg.png</string>
				<string>tab/home.png</string>
				<string>tab/my.png</string>
			</array>
			<key>title</key>
			<array>
				<string>消息</string>
				<string>附近</string>
				<string>我的</string>
			</array>
			<key>select-title-color</key>
			<array>
				<string>tabSelectedItem</string>
				<string>tabSelectedItem</string>
				<string>tabSelectedItem</string>
			</array>
			<key>unselect-title-color</key>
			<array>
				<string>tabItem</string>
				<string>tabItem</string>
				<string>tabItem</string>
			</array>
			<key>select-title-font</key>
			<array/>
			<key>unselect-title-font</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
